#app {
  &[data-color='black'] {
    $dataBgColor: #304156;
    $dataTextColor: '';

    .navbar {
      background-color: $dataBgColor;
    }

    .el-scrollbar {
      background-color: $dataBgColor;

      .submenu-title-noDropdown {
        background-color: $dataBgColor !important;
      }
    }

  }

  &[data-color='white'] {
    $menuActiveText: #fff;

    // #app 外的样式
  // 表格按钮颜色
    .tableButton{
      color: #4283d8;
      // color: #f11722;

    }
    .el-progress-bar__inner{
      // color: #f11722;
    }
    // 表格名字颜色
    .tableList{
      border-left: 5px solid #4283d8;color: #4283d8;

    }
      // 黄色按钮
    &~ .el-dialog__wrapper .lianjieBtn{
      background-color: #ebb563;

      border-color: #ebb563;
    }
    // 确定按钮
    &~ .el-dialog__wrapper .determine{
      background-color: #4283d8;

      border-color: #4283d8;
    }
    &~ .el-dialog__wrapper .dialog  .tableColor tr   {
      // background-color: #738498 !important;

      // color: rgb(255, 255, 255);
    }
    // 表格表头颜色
    .el-table tr .is-leaf {
      background: #738498;
      color: rgb(255, 255, 255);
    }

    .el-button--primary {
    //   background-color: #4b1823 !important;
      background-color: #4283d8 !important;
      border-color: #4283d8 !important;
    }

    .el-button--warning {
    //   background-color: #4b1823;
      background-color: #ebb563;

      border-color: #ebb563;
    }
      
    .navbar {
      background-image: linear-gradient(143deg, #304156 20%, #2a5a98 81%, #4283d8);
    }

    .el-scrollbar {
      background-color: #304156 !important;

      .submenu-title-noDropdown {
        background-color: #304156 !important;
      }
    //    导航栏点击背景色
      .is-active {
        background-color: #1f2d3d !important;
      }

    }



  }
}
